@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);



.wrapper{
    margin: 0 auto;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
}

.header-entete {background-image: url(images/header.jpg);
    height:1020px;
    background-repeat: no-repeat; 
    margin: 0 auto;
    
}

h1 {font-size: 40px;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 40px;
    color: rgb(129,24,16);
    margin-left: 50px;
}

