/*Menu*/
.header {background-color: #f3f3f3;
}
/*sticky*/
.fixed {position: fixed;
    top: 0;
    width: 100%;
}



.col1 {
    float: left;
    width: calc(100% / 5);
    height: 2em;
    padding: 5px;
    background-color: #5B180E;
    color: #fff;
    text-align: center;
}


.header-nav a {
	color: inherit;
}

/* Animation du lien */
.header-nav a:after {
	content: "";
	position: absolute;
	bottom: 0; right: 20px; left: 20px;
	height: 2px;
	background-color: white;

	/* Préparation de notre animation */
	opacity: 0;
	transform: translateY(5px);
	transition: all .4s;
}
/* Le trait va remonter et apparaitre */
.header-nav a:hover:after,
.header-nav a:focus:after {
	opacity: .6;
	transform: translateY(0);
}


