/*Menu*/
.header {background-color: #f3f3f3;
}
/*sticky*/
.fixed {position: fixed;
    top: 0;
    width: 100%;
}

.col1 {
    float: left;
    width: calc(100% / 5);
    height: 2em;
    padding: 5px;
    background-color: #5B180E;
    color: #fff;
    text-align: center;
}


.header-nav a {
	color: inherit;
    position: absolute;
}

