/*Menu*/

/*sticky*/
.fixed {position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}

.col1 {
    float: left;
    width: calc(100% / 5);
    height: 2em;
    background-color: rgba(106, 21, 15, 0.9);
    color: #fff;
    padding-top: 5px;
    text-align: center;
}


.header-nav a {
	color: inherit;
    position: absolute;
}

