@media (max-width:1500px) {
    .imgparcours {background-image: url(../images/Parcoursr1500.png);
    width: 900px;
    height: 484px;
    margin: 0 auto;
    }
}

@media (max-width:1150px) {
    .wrapper {background-color: yellow;
    }
    .bonjour {
    width: calc(0.67 * 100%);
}
    /*Loisirs*/
    .loisir {
    margin: 0 auto;
    padding-left: calc(0.1 * 100%);
    }

    .loisir p {float: left;
        margin: 0 auto;
        text-align-last: center;
        width: calc(0.6 * 100%);
        padding-left: 50px;
        padding-top: 10px;
    }

    .loisir1 {float: none;
        width: calc(0.95 *100%);
        height:200px;
        margin: 0 auto;
    }

    /*Compétences*/
    .imggraphisme {background-image: url(../images/competences_graphisme2.png);
        height: 220px;
        width: 220px;
    }
    .imgadv{background-image: url(../images/competences_audiovisuel2.png);
        height: 220px;
        width: 220px;
    }
    .imgcom{background-image: url(../images/competences_communication2.png);
        height: 220px;
        width: 220px;
    }
    .imgweb{background-image: url(../images/competences_integration2.png);
        height: 220px;
        width: 220px;
    }
}


/*TABLETTE*/

@media (max-width:960px) {
    .wrapper{ background-color: rebeccapurple;
    }
    /*Nav*/
    header h1 {
        display: none;
    }    
    
    .loisir {
    padding-left: calc(0.01 * 100%);
    }
    
    .orgacompetences {padding-left: 20px;
    }
    .orgacompetences p {
        width: calc(0.9 * 100%);
        height: 350px;
    }
    .graph {width: calc(1 / 2 * 100%);
    }
    .adv {width: calc(1 / 2 * 100%);
    }
    .com {width: calc(1 / 2 * 100%);
    }
    .web {width: calc(1 / 2 * 100%);
    }
    
    .imgparcours {background-image: url(../images/Parcours-new.png);
    width: 400px;
    height: 540px;
    margin: 0 auto;
    }
    
    /*Contact*/
    .contact {width: 100%;
    margin: 0 auto;
    }

    .infocontact {width: calc(0.9 * 100%);
        margin:0 auto;
        float: none;
    }

    .contact li {
        padding-left: 0;
    }
        .contact p {font-size: 22px;}

    .adresse {
        margin-right: 10px;
    }
    .tel {
        margin-right: 10px;
    }
    .mail {
        margin-right: 10px;
    }
    .linkedin {
        margin-right: 10px;
    }
    .cv {
        margin-right: 10px;
    }

    .formulaire {width: calc(0.9 * 100%);
        margin: 0 auto;
        float: none;
        padding-right: 0px;
        margin-bottom: 50px;
    }

}
   


/*Smartphone*/
@media (max-width:420px){
    .wrapper {background-color: aqua;}
}
    
